
  <head>
  <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dinosaurier</title>
  <style>
    /* Tabellen-Styling */
    table {
      border-collapse: collapse;
      margin-bottom: 30px;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #d6f5d6;
    }

    html {
      scroll-behavior: smooth;
    }
  </style>
</head>